{% extends 'base.html' %}
{% block navbar %}
    <a href="{{url_for('player.player_view')}}" class="button navbar-item hoverable">Player View</a>
    <a href="{{url_for('dm.dm_view')}}" class="button navbar-item hoverable">DM View</a>
{% endblock %}

{% block content %}
    <main id="profile" x-data="{ upload_pfp: false }">
        <section id="profile-headers">
            <img src="{{pfp}}" alt="Profile Picture" @click="upload_pfp = !upload_pfp">    
            <h1 class="title">{{username}}'s Profile</h1>
        </section>
        
        <div id="upload-pfp" x-show="upload_pfp">
            <form action="#" method="post" enctype=multipart/form-data>
                <input id="pfp_file_upload_input" type="file" name="pfp" accept="image/png, image/jpeg" hidden="hidden">
                <button id="pfp_button" class="button hoverable" onclick="click()">Choose File</button>
                <span id="pfp_text">No file selected</span>
                <input type=submit value="Upload" class="button hoverable">

                <script type="text/javascript">
                    const uploader = document.getElementById("pfp_file_upload_input");
                    const button = document.getElementById("pfp_button");
                    const text = document.getElementById("pfp_text");
                    
                    button.addEventListener("click", function() {
                        uploader.click();
                    });
                </script>
            </form>
        </div>

        <section id="characters">
            <div class="section-header">
                <h2 class="subtitle">Characters</h2> 
                <a href="{{url_for('player.character_creator')}}" class="button hoverable">Character Creator</a>
            </div>
            <div class="section-content"></div>
        </section>


        <a href="{{url_for('auth.logout')}}" class="button hoverable">Logout</a>
    </main>
{% endblock %}