{% extends 'base.html' %}
{% block navbar %}
    <a href="{{url_for('player.player_view')}}" class="button navbar-item hoverable">Player View</a>
    <a href="{{url_for('dm.dm_view')}}" class="button navbar-item hoverable">DM View</a>
{% endblock %}

{% block content %}
    <main id="profile" x-data="{ upload_pfp: false }">
        <section id="profile-headers">
            <img src="{{pfp}}" alt="Profile Picture" @click="upload_pfp = !upload_pfp">    
            <h1 class="title">{{username}}'s Profile</h1>
        </section>

        <section id="characters">
            <div class="section-header">
                <h2 class="subtitle">Characters</h2> 
                <a href="{{url_for('player.character_creator')}}" class="button hoverable">Character Creator</a>
            </div>
            <div class="section-content"></div>
        </section>

        <a href="{{url_for('auth.logout')}}" class="button hoverable">Logout</a>
        
        <div class="overlay" x-show="upload_pfp"></div>

        <div id="upload-pfp" x-show="upload_pfp">
            <form class="drop-form" action="#" method="post" enctype=multipart/form-data>
                <div class="drop-area">
                    <span class="drop-label">Drag and Drop an image or click to select</span>
                </div>
                <input class="upload-input" type="file" name="pfp" accept="image/png, image/jpeg, image/svg" hidden="hidden">
                <input type=submit value="Upload" class="button hoverable">
            </form>
            <button class="button hoverable" @click="upload_pfp = false">Cancel</button>
        </div>
    
        <script>
            document.querySelectorAll(".drop-form").forEach(form => {
                const uploader = form.getElementsByClassName("upload-input")[0];
                const label = form.getElementsByClassName("drop-label")[0];
                const daEle = form.getElementsByClassName("drop-area")[0];

                // when over make text darker
                daEle.addEventListener("dragover", event => {
                    event.preventDefault();
                    label.classList.add("drag-over");
                });

                // exit
                ["dragleave", "dragend"].forEach(eventType => {
                    daEle.addEventListener(eventType, event => {
                        label.classList.remove("drag-over");                      
                    });
                });
                
                // drop
                daEle.addEventListener("drop", event => {
                    event.preventDefault();

                    if (event.dataTransfer.files.length > 0) {
                        uploader.files = event.dataTransfer.files;
                        uploader.dispatchEvent(new Event("change"));
                    }

                    label.classList.remove("drag-over");
                });

                // click
                daEle.addEventListener("click", event => {
                    event.preventDefault();
                    uploader.click();
                });

                // update text
                uploader.addEventListener("change", event => {
                    let path = event.target.value;
                    label.textContent = path.substring(path.lastIndexOf("\\") + 1);
                });
            });
        </script>
    </main>
{% endblock %}