{% extends 'base.html' %}
{% block navbar %}
    <a href="{{url_for('player.dice_roll')}}" class="button navbar-item" title="Dice Roler">Dice Roller</a>
    <a href="{{url_for('player.character_creator')}}" class="button navbar-item" title="Character Creator">Character Creator</a>
{% endblock %}
{% block content %}
    <div id="dice-roll">
        <div class="dice" id="d20">
            <h2 id="d20-value">20</h2>
            <button class="button">Roll</button>
        </div>

        <div class="dice" id="d12">
            <h2 id="d12-value">12</h2>
            <button class="button">Roll</button>
        </div>

        <div class="dice" id="d10">
            <h2 id="d10-value">10</h2>
            <button class="button">Roll</button>
        </div>

        <div class="dice" id="d8">
            <h2 id="d8-value">8</h2>
            <button class="button">Roll</button>
        </div>

        <div class="dice" id="d6">
            <h2 id="d6-value">6</h2>
            <button class="button">Roll</button>
        </div>

        <div class="dice" id="d4">
            <h2 id="d4-value">4</h2>
            <button class="button">Roll</button>
        </div>
    </div>
    {% block new_content %}
    {% endblock %}
{% endblock %}